<div class="mainContainer">
<div class="sidebar">
  <div>
    <label>Genre: </label>
    <select #select (change)="selectFilter(select.value)" style="width: 75%">
      <option value="">All</option>
      <option value="Action">Action</option>
      <option value="Family">Family</option>
      <option value="Comedy">Comedy</option>
      <option value="Reality-TV">Reality-TV</option>
      <option value="Crime">Crime</option>
      <option value="Mystery">Mystery</option>
      <option value="Drama">Drama</option>
      <option value="Thriller">Thriller</option>
    </select>
  </div>

  <div class="space"></div>

  <label>Movie List:</label>
  <div class="list">
    <ul>
      <li *ngFor="let data of filteredItems" class="listitem" (click)="selectDtails(data)">
        {{data.title}}
      </li>
    </ul>
  </div>

  <div class="space"></div>

  <input type="text" #search (input)="textFilter(search.value)" placeholder="Search Movie..." style="width: 100%" />

</div>


<div class="details">
  <div class="moviePoster">
    <img src="http://{{poster}}" />
    <div class="space"></div>
    <div>{{details.name}} ({{details.release}})</div>
  </div>

  <div class="space"></div>

  <div>
    <div>Description: </div><span>{{details.description}}</span>
    <div class="space"></div>
    <div>Actor (s): </div><span *ngFor="let actors of details.actors">
    <span>{{actors}}, </span>
  </span>

    <div class="space"></div>

    <div>
    <input #review type="text" />
    <button (click)="addReview(review.value); review.value = '';">Add Review</button>

    <ul>
      <li class="reviewList" *ngFor="let reviews of details.review.reverse()">
        {{reviews}}
      </li>
    </ul>
  </div>
  </div>

</div>

</div>
